@font-face {
  font-family: 'Mulish';
  src: url(../assets/fonts/Mulish-Regular.woff2) format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: 'Roboto';
  src: url(../assets/fonts/Roboto-Regular.woff2) format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: 'Roboto';
  src: url(../assets/fonts/Roboto-Medium.woff2) format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: 'Seguisb';
  src: url(../assets/fonts/seguisb.woff2) format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap
}

* {
  --tw-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
  0 10px 10px -5px rgba(0, 0, 0, 0.04)
}

*,
::after,
::before {
  box-sizing: border-box;
  font-size: 16px;
  margin: 0;
  padding: 0
}

.body,
.frame {
  overflow: hidden
}

.frame {
  position: relative;
  max-height: 736px;
  max-width: 375px;
  min-height: 736px;
  min-width: 375px;
  border-radius: 24px;
  background-color: #fff
}

.body {
  user-select: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0
}

.time {
  position: absolute;
  left: 30px;
  top: 13px;
  overflow: visible;
  width: auto;
  float: left;
  font-family: Seguisb, sans-serif;
  font-weight: 600;
  object-fit: fill
}

.utility-page-wrap {
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center
}

.utility-page-content {
  display: flex;
  width: 260px;
  flex-direction: column;
  text-align: center
}

.utility-page-form {
  display: flex;
  flex-direction: column;
  align-items: stretch
}

.network-icon {
  position: absolute;
  left: 284px;
  top: 17.69px
}

.back-icon,
.battery-icon,
.wifi-icon {
  position: absolute;
  left: 306.1px;
  top: 17.69px
}

.back-icon,
.battery-icon {
  left: 326.48px
}

.back-icon {
  left: 24px;
  top: 67px
}

.delete-image,
.filter-image {
  cursor: pointer
}

.filter-image {
  position: absolute;
  left: 289px;
  top: 66px
}

.delete-image,
.text-block {
  position: absolute;
  left: 340px;
  top: 65px
}

.text-block {
  left: 60px;
  font-family: Mulish, sans-serif;
  color: #000;
  font-size: 18px;
  line-height: 23px;
  font-weight: 600;
  -o-object-fit: contain;
  object-fit: contain
}

.records-list-container {
  overflow: hidden;
  position: absolute;
  left: 17px;
  top: 114px;
  max-height: 531px;
  max-width: 342px;
  min-height: 531px;
  min-width: 342px
}

.no-history-found {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  left: 68px;
  top: 180px;
  min-width: 240px;
  max-width: 240px;
  min-height: 330px;
  max-height: 330px;
  transition: all 1400ms ease-in-out;
  transform: translateX(-375px)
}

.no-history-found img {
  width: 240px;
  height: 240px
}

.no-history-found .details,
.no-history-found .heading {
  font-family: 'Roboto', sans-serif;
  color: rgba(0, 0, 0, 0.7)
}

.no-history-found .heading {
  font-weight: 500;
  font-size: 20px
}

.no-history-found .details {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px
}

.records-list {
  position: relative;
  max-height: 531px;
  max-width: 342px;
  min-height: 531px;
  min-width: 342px
}

.eight,
.fifth,
.first,
.fourth,
.second,
.seventh,
.sixth,
.third {
  position: absolute;
  left: 2px;
  max-height: 91px;
  max-width: 338px;
  min-height: 91px;
  min-width: 338px;
  overflow: hidden;
  border-style: solid;
  border-width: .1px;
  border-color: rgba(0, 0, 0, .2);
  border-radius: 12px;
  box-shadow: 0 6px 12px -6px rgba(24, 39, 75, .12), 0 8px 24px -4px rgba(24, 39, 75, .08);
  transition: all 500ms ease-in-out
}

.first {
  top: 0
}

.second {
  top: 107px
}

.third {
  top: 214px
}

.fourth {
  top: 321px
}

.fifth {
  top: 429px
}

.sixth {
  top: 536px
}

.seventh {
  top: 643px
}

.eight {
  top: 750px
}

.file-name {
  position: absolute;
  left: 78px;
  top: 20px;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  color: #000;
  font-size: 13px;
  line-height: 15px
}

.image {
  position: absolute;
  left: 18px;
  top: 21px;
  max-height: 48px;
  max-width: 48%;
  min-height: 48px;
  min-width: 48px
}

.last-modified-date,
.operation-name {
  position: absolute;
  left: 80px;
  top: 63px;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  color: #666;
  font-size: 10px;
  line-height: 12px
}

.last-modified-date {
  left: 220px
}

.success-status-holder, .fail-status-holder {
  position: absolute;
  left: 254px;
  top: 16px;
  display: flex;
  max-height: 23px;
  max-width: 66px;
  min-height: 23px;
  min-width: 66px;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
}

.success-status-holder {
  background-color: #2fdf84
}

.fail-status-holder,
.status {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 10px
}

.status {
  color: #fff
}

.fail-status-holder {
  background-color: #ed5745
}

.app-bottom-bar {
  position: absolute;
  top: 662px;
  max-height: 74px;
  max-width: 375px;
  min-height: 74px;
  min-width: 375px;
  box-shadow: 0 -6px 12px -6px rgba(24, 39, 75, .12), 0 -8px 24px -4px rgba(24, 39, 75, .08)
}

.grid-view,
.history,
.settings {
  position: absolute;
  top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  left: 32px;
  max-height: 45px;
  max-width: 42px;
  min-height: 45px;
  min-width: 42px
}

.grid-view,
.settings {
  left: 160px;
  max-width: 56px;
  min-width: 56px
}

.settings {
  left: 295px;
  max-width: 48px;
  min-width: 48px
}

.text-block-2 {
  position: static;
  left: 0;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 13px
}

.mobile-frame {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 764px;
  width: 403px;
  margin: auto;
  overflow: hidden;
  border: 14px solid #000;
  background-color: #000;
  border-radius: 60px;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.main {
  bottom: 0;
  background-color: #fff;
  width: 100%;
  height: 100%
}

.main,
.notch {
  position: absolute;
  top: 0;
  left: 0;
  right: 0
}

.notch>div {
  height: 1.5rem;
  width: 10rem;
  margin-left: auto;
  margin-right: auto;
  background-color: #000;
  border-bottom-right-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem
}